body
{
  font-family: 'Raleway', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Oxygen', sans-serif;
  font-family: Verdana, Arial, sans-serif;
}

h1
{
    line-height: 200%;
    text-align: left;
    text-shadow: 1PX 30PX 2PX #1FDA9A;
}

p
{
    font-weight: bold;
}

nav
{
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

nav li
{
    display: inline-block;
    border-style: solid;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: .50em;
    text-decoration: none;
    font-size: 1.2em;

  }

li
{
  background: red;
  text-align: center;
  border: 1px solid black;
  display: inline-block;
}

li img
{
  width: 50%;
  border: 1px solid black;

}

main{
  border: 1px solid black;
  clear: both;
  background-color: #F0F0F0;
  height: auto;
}

ImagenHome
{

}


li img
{
  width: 50%;
}

li h2
{
    text-align: left;
    font-size: 1em;
}

CuadroHome
{
  background-color: black;
  margin-right: auto;
}

main ul
{
  display: inline-flex;

}

CuadroItems
{
  font-size: 5.5em;
}

footer ul li
{
  display: inline-block;
}

footer a
{
    text-decoration: none;
    font-style: italic;
    color: #0000;
}

/* Code for contact_us.html */
.top
{
  border: 0.1em solid black;
  margin-left: 44em;
  margin-top: auto;
  padding-left: 1.5em;
  width: 28.5em;

}

div.CuadroMapa
{
  float: left;
  padding-left: 1em;
}
/*style="float: left;"*/

div.Direccion
{
  margin-left: inherit;

}

label
{
  display: block;
}
text{
  display: block;
}

textarea
{
  display: block;
}

/* Code for about.html */
div.ImageAbout
{
  float: left;
  width: 80%;
}

div.about_right
{
  margin-left: 380px;
}
