body
{
  font-family: 'Raleway', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Oxygen', sans-serif;
  font-family: Verdana, Arial, sans-serif;
}

h1
{
    line-height: 200%;
    text-align: left;
    text-shadow: 1PX 30PX 2PX #1FDA9A;
}

h2{
  font-family: sans-serif;
  font-weight: normal;
}
h3
{
  font-weight:
}
h4
{
  font-style: italic;
}

p
{
    font-weight: lighter;
}

nav
{
    font-weight: bold;
    text-align: right;
    text-decoration: none;
}

main img
{
/*  margin-left: auto;
  margin-right: auto;*/
/*  height: auto;*/

}

nav li
{
    display: inline-block;
    border-style: solid;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: .50em;
    text-decoration: none;
    font-size: 1.2em;
  }

li
{
  background: #90c5a9;
  text-align: center;
  border: 1px solid black;
  display: inline-block;
  margin-left: 1.5%;
}
li.Items
{
  background: white;
}

main{
  border: 1px solid black;
  clear: both;
  background-color: #F5EACD;
  height: auto;
  width: auto;
}

li img
{
  width: 150px;
  height: 150px;
  margin-right: 1%;
  margin-top: 5%;
  /*float: left;
  /*border: 1px solid black;*/
}

li h2
{
    text-align: left;
    font-size: 5em;
}

main ul
{
  display: inline-flex;
  margin-left: 0%;
}


main ul h2
{
    font-size:15.5;
    text-align: center;
}

/*div.Precio
{
  float: left;
}*/


footer ul li
{
  display: inline-block;
}

footer a
{
    text-decoration: none;
    font-style: italic;
    color: #0000;
}

//////////////////////////
/* Code for about.html */
/////////////////////////

main img
{
  margin-left: 2%;
  clear:right;
}

div.CuadroAbout
{
   clear: both;
   margin-left: 1%;
}

div.ParagraphRight, div.Middle
{
     background: white;
     margin-left: 32%;
     width: 55%;
     text-align: justify;
     margin-top: 0%;
     padding-top: 0;

}

div.BottomLeft
{
     background: white;
     margin-left: 32%;
     width: 35%;
     text-align: justify;
     margin-top: 0%;
     padding-top: 0;
     float: left;
}
div.BottomRight
{
     background: white;
     margin-left: 32%;
     width: 65%;
     text-align: justify;
     margin-top: 0%;
}


div.ParagraphDown
{
     background: white;
     width: 31%;
     text-align: justify;
     font-size: 15.5;
}


/*div.ParagraphRight
{
    float: none;
    padding-left: 50px;
    font-size: 1.5em;

}*/


//////////////////////////////
/* Code for contact_us.html */
//////////////////////////////

.top
{
  border: 0.1em solid black;
  margin-left: 85px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 23.5em;
}

.top input, .top select, .top textarea
{
    font-style: italic;
}

div.CuadroMapa
{
  /*background: green;*/
  float: left;
  padding-left: 1em;
  width: 55%;
  height: auto;
  clear: both;
}

div.CuadroMapa div
{
  /*background: white;*/
  float: left;
  width: 55%;
  height: auto;
  clear: both;
}

.main CuadroMapa img
{
    width: 40%;
}

address
{
  margin-left: 285px;
}



label
{
  display: block;
}
text{
  display: block;
}

textarea
{
  display: block;
}
